Projects/*
#Story files that can be compiled by the user (only raw files needed).
Mods/ToggleSprint_931cff3e-9f2c-4651-b40d-3e7b0a8b23d4/meta.lsx
Mods/ToggleSprint_931cff3e-9f2c-4651-b40d-3e7b0a8b23d4/Story/log.txt
Mods/ToggleSprint_931cff3e-9f2c-4651-b40d-3e7b0a8b23d4/Story/goals.div
Mods/ToggleSprint_931cff3e-9f2c-4651-b40d-3e7b0a8b23d4/Story/goals.raw
Mods/ToggleSprint_931cff3e-9f2c-4651-b40d-3e7b0a8b23d4/Story/story.div
Mods/ToggleSprint_931cff3e-9f2c-4651-b40d-3e7b0a8b23d4/Story/story.div.osi
Mods/ToggleSprint_931cff3e-9f2c-4651-b40d-3e7b0a8b23d4/Story/story_ac.dat
Mods/ToggleSprint_931cff3e-9f2c-4651-b40d-3e7b0a8b23d4/Story/RawFiles/story_definitions.div
Mods/ToggleSprint_931cff3e-9f2c-4651-b40d-3e7b0a8b23d4/Story/RawFiles/story_header.div

#Assets
Public/ToggleSprint_931cff3e-9f2c-4651-b40d-3e7b0a8b23d4/Assets/*
Editor/Mods/ToggleSprint_931cff3e-9f2c-4651-b40d-3e7b0a8b23d4/Assets/Effects/*
Public/ToggleSprint_931cff3e-9f2c-4651-b40d-3e7b0a8b23d4/GUI/*

#Log files, etc
*.log
StatsEditorConfig.xml
COMBAT_LLLE_Humans_Trader.ailog
DockPanel.config
EditorBrowserMetadata_e19e4cc5-7fa7-45ed-8fbb-e5e02eb1d60e.xml
EffectEditorConfig.xml

#Binary Files
*.bik
*.bnk
*.bshd
*.bullet
*.cur
*.dat
*.data
*.dds
*.fnt
*.gr2
*.iggy
*.iggytex
*.lsb
*.lsf
*.lsfx
*.osi
*.patch
*.png
*.swf
*.tga
*.tmpl
*.ttf